body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange
{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,salmon);
    color: white;
    border-radius: 5px;
    font-weight: 500;
    padding: 10px 20px;
    
}
.text-display{
    display: flex;
    padding-top: 5vh;
    
}
.text-decoration{
    width: 50%;
    padding-left: 150px;
}
.text-decoration img{
    width: 50%;
    padding-left: 100px;
}
.border-decorated{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
    border-width: 6px;
    
}
.text_allign{
    text-align: center;
}
.margin-item{
width: 40%;
height: 20%;
margin-left: 5px;
margin-right: 5px;
padding-left: 20px;
padding-right: 20px;
border-radius: 10px;
font-size: medium;
}

.margin-item img{
    width: 50%;

}
#background-colour{
background-color: rgba(65, 150, 139, 0.521);
}
#background-coloured
{
    background-color: rgba(170, 65, 170, 0.486);
}
    
#background-color{
    background-color: rgba(154, 216, 39, 0.438);
}

.text-decorationed img{
    width: 35%;
    padding-left: 300px;
    padding-top: 100px;
    padding-right: 20px;
    
}
.image-backgound{
    background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-size: 13cm;

}
#padding{

    padding-left: 5%;
}
.image-backgound2{
    background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-size: 7cm;
    background-position: right;
}
.built-corona{
    text-align: center !important;
}
.flex{
    display: flex;
}
.image-size{
    width: 50%;
}
.text-size img{
    width: 30%;
    padding-right: 0ex;
    
}

footer
{
    text-align: center;
    font-weight: 700;
    color: blanchedalmond;
}
.back-image
{
    background-color: black;
}

    